*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 400px;
  margin: 30px auto;
}

.form__group {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline: 0;
}

.box {
  margin: 20px auto;
}

.input.error {
  border-color: red;
}

.input::placeholder {
  color: #ccc;
}

.checkbox__label {
  user-select: none;
  margin-right: 20px;
}

.checkbox__input.error + .checkbox__label {
  color: red;
}

.btn {
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e335e;
  border: 0;
  width: 100%;
  outline: 0;
  cursor: pointer;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

.tabs-nav {
  display: flex;
  justify-content: space-between;
}
.tabs-nav__item {
  border-bottom: 1px solid transparent;
  cursor: pointer;
  flex: 1;
  padding: 20px;
}

.tabs-nav__item.is-active {
  border-color: #55a32a;
}

.tab {
  background-color: #f2f2f2;
  display: none;
  padding: 20px;
}
.tab.is-active {
  display: block;
}
