*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  width: 300px;
}

.form__group {
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #ccc;
  outline: 0;
}

.box {
  margin: 20px auto;
}

.input.error {
  border-color: red;
}

.input::placeholder {
  color: #ccc;
}

.checkbox__label {
  user-select: none;
}

.checkbox__input.error + .checkbox__label {
  color: red;
}

.btn {
  height: 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e335e;
  border: 0;
  width: 100%;
  outline: 0;
  cursor: pointer;
  color: #fff;
}
